In [1]:
from pathlib import Path

import pandas as pd

In [2]:
dates_to_visualize = [
    "2019-02",
    "2020-02",
    "2021-02",
    "2022-02",
    "2023-02",
    # "2024-02",
]

In [3]:
available_data_files = list(Path("../data/httparchive_metrics/nel_monitored_resource_types").glob("*.parquet"))

used_data_files = list(filter(lambda file: file.stem in dates_to_visualize, available_data_files))
used_data_files

[WindowsPath('../data/httparchive_metrics/nel_monitored_resource_types/2019-02.parquet'),
 WindowsPath('../data/httparchive_metrics/nel_monitored_resource_types/2020-02.parquet'),
 WindowsPath('../data/httparchive_metrics/nel_monitored_resource_types/2021-02.parquet'),
 WindowsPath('../data/httparchive_metrics/nel_monitored_resource_types/2022-02.parquet'),
 WindowsPath('../data/httparchive_metrics/nel_monitored_resource_types/2023-02.parquet')]

In [4]:
from results.result_utils import date_to_text_format, concat_data_from_files

result = concat_data_from_files(used_data_files)

result['date_formatted'] = result['date'].map(date_to_text_format)

result

,date,url_domain,type,count,date_formatted
0,2019-02,0d38c32709c097507fb7d35fbc48545e.report-uri.com,text,1,Feb 2019
1,2019-02,1627f29bce741ebdc46108ecd8ebba3c.report-uri.com,text,1,Feb 2019
2,2019-02,18d36df5be4d2f0680090c55b489865d.report-uri.com,text,1,Feb 2019
3,2019-02,1e031bc28af67e84e052beae680ccd74.report-uri.com,text,1,Feb 2019
4,2019-02,21torr.report-uri.com,text,2,Feb 2019
...,...,...,...,...,...
7193686,2023-02,zzzzap.nl,script,14,Feb 2023
7193687,2023-02,zzzzap.nl,html,1,Feb 2023
7193688,2023-02,zzzzzz.me,css,1,Feb 2023
7193689,2023-02,zzzzzz.me,script,1,Feb 2023
7193690,2023-02,zzzzzz.me,html,4,Feb 2023

### Monitored resources by type

In [5]:
monthly_data = pd.DataFrame()
for month in dates_to_visualize:
    current_month_data = result[result['date'] == month].copy()
    
    current_month_data = current_month_data.groupby(['date', 'type'], as_index=False).agg({'count': 'sum'})
    current_month_data.sort_values(by='count', ascending=False, inplace=True)
    current_month_data.reset_index(inplace=True, drop=True)
    
    current_month_data['date'] = current_month_data['date'].map(date_to_text_format)
    
    monthly_data = pd.concat([monthly_data, current_month_data])
    
monthly_data

       date    type     count
0  Feb 2019   image      1225
1  Feb 2019  script       536
2  Feb 2019    text       244
3  Feb 2019    html       211
4  Feb 2019     css       195
5  Feb 2019    font       102
6  Feb 2019   other        12
7  Feb 2019   video         5
8  Feb 2019   audio         2
0  Feb 2020  script    207804
1  Feb 2020    html    149692
2  Feb 2020   image    130273
3  Feb 2020   other     93508
4  Feb 2020     css      3754
5  Feb 2020    text      1585
6  Feb 2020     xml       701
7  Feb 2020    font       680
8  Feb 2020   video        15
9  Feb 2020   audio         2
0  Feb 2021   image  28546797
1  Feb 2021  script  12770729
2  Feb 2021     css   5907449
3  Feb 2021    html   2057198
4  Feb 2021    font   1256298
5  Feb 2021   other    464700
6  Feb 2021    text     52309
7  Feb 2021   video     46746
8  Feb 2021     xml     24252
9  Feb 2021   audio     23656
0  Feb 2022   image  31604026
1  Feb 2022  script  15003474
2  Feb 2022     css   7346555
3  Feb 2022    html   1842436
4  Feb 2022    font   1547697
5  Feb 2022   other    637518
6  Feb 2022   video    139512
7  Feb 2022    text     88444
8  Feb 2022   audio     32334
9  Feb 2022     xml     25988
0  Feb 2023   image  46639190
1  Feb 2023  script  25781237
2  Feb 2023     css  13653093
3  Feb 2023    html   4018214
4  Feb 2023    font   3519615
5  Feb 2023   other   1907963
6  Feb 2023    text    331434
7  Feb 2023   video    312931
8  Feb 2023     xml     40122
9  Feb 2023   audio     27958

### Most monitored resource type for the whole time period (HTTPArchive data)

In [7]:
result.groupby('type')['count'].sum().sort_values(ascending=False)

type
image     106921511
script     53763780
css        26911046
html        8067751
font        6324392
other       3103701
video        499209
text         474016
xml           91063
audio         83952
Name: count, dtype: UInt32